<!--Splash/home page-->

<h1>Yasmina's Favourite Things (In Life!)</h1>
    <div class="team">
        <!-- loop through all our team members and put their info on the page -->
        {{#each introItem}} <!-- this is like a  JS forEach loop -->
            <div>
            <h2>{{Intro}}</h2>
            <img src="images/{{Splash}}">
            </div>
        {{/each}}   

            <ul>
    
        </ul>

    </div>
