<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="stylesheet" href="css/main.css">
    <title>My Favourite Things!</title>
</head>
<!--Layout page. Anything here will be repeated on every page-->
<body>
<nav>
    <ul> 
        <li><a href="/">Home | </a></li>
        <li><a href="things">My Favourite Things</a></li>
    </ul>
</nav>
    <main>
        {{{ body }}}
    </main>



    <script type="module" src="js/main.js"></script>
</body>

</html>